<a href="https://colab.research.google.com/github/gjenkins6245/MCIS6262_fa23_bigdata/blob/main/Homeword3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A car sales attached dataset is to be used. The carSales dataset has 17 columns. First select two columns data, Name and Weight columns. Then sort the dataset from highest to lowest Weight. Only print first 5 rows of data. Use 3 different ways to do that using SPARK. You can use either HDP shell in a box for or Google Colab for coding.

1. RDD data structure
2. DataFrame data structure without any SQL queries
3. DataFrame data structue with SQL queries.

Submit a) Code for above 3 ways b) Screenshot of the above 3 code in which Student Name and ID are there 3) Screenshot of the output result for the above 3 ways.
Please study all the material of Module 6 to do the assignment.

In [1]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e2107437cf424f774459313e46e8e45852df8fe9a51ad998e22a16fc702f3d97
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# RDD data structure

import pyspark
from pyspark import SparkContext, SparkConf

sc = SparkContext.getOrCreate()
# Read file
rdd = sc.textFile("carSalesData.txt")
# Split file on tabs
rdd = rdd.map(lambda x: x.split("\t"))
# Get only Name and Weight columns
rdd = rdd.map(lambda x: [x[1], x[7]])
# Remove records with NULL Weight values
rdd = rdd.filter(lambda x: x[1] != "NULL")
# Sort by Weight converted to float values
rdd = rdd.sortBy(lambda x: 9999999.99 if x[1]=="Weight" else float(x[1]), False)
# Return top 5 records by Weight (Top 6 with header)
rdd.take(6)

[['Name', 'Weight'],
 ['Road-150 Red, 62', '6803.85'],
 ['HL Mountain Frame - Silver, 46', '1288.20'],
 ['HL Mountain Frame - Black, 46', '1288.20'],
 ['HL Mountain Frame - Silver, 48', '1270.05'],
 ['HL Mountain Frame - Black, 48', '1270.05']]

In [12]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# DataFrame data structure without any SQL queries

import pyspark
from pyspark.sql import SparkSession

df_app = SparkSession.builder.appName('DF_App_NoSQL').getOrCreate()

# Read file, split it on tabs, and idicate it has a header row
df = df_app.read.csv("carSalesData.txt", sep='\t', header=True)
# Get only Name and Weight columns
df = df.select("Name","Weight")
# Remove records with NULL Weight values
df = df.filter(df.Weight != "NULL")
# Convert Weight to float values
df = df.withColumn("Weight", df["Weight"].cast('float'))
# Sort by Weight
df = df.orderBy("Weight",ascending=False)
# Return top 5 records by Weight
df.show(5, False)

+------------------------------+-------+
|Name                          |Weight |
+------------------------------+-------+
|Road-150 Red, 62              |6803.85|
|HL Mountain Frame - Silver, 46|1288.2 |
|HL Mountain Frame - Black, 46 |1288.2 |
|HL Mountain Frame - Silver, 48|1270.05|
|HL Mountain Frame - Black, 48 |1270.05|
+------------------------------+-------+
only showing top 5 rows

In [9]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# DataFrame data structue with SQL queries

import pyspark
from pyspark.sql import SparkSession

df_app = SparkSession.builder.appName('DF_App_SQL').getOrCreate()

# Read file, split it on tabs, and idicate it has a header row
df = df_app.read.csv("carSalesData.txt", sep='\t', header=True)
# Create SQL Temp View
df.createOrReplaceTempView("car_sales")
# Get top 5 records by Weight using SQL
df = df_app.sql("SELECT Name, Weight FROM car_sales WHERE Weight IS NOT NULL ORDER BY CAST(Weight as real) DESC LIMIT 5")
# Return top 5 records by Weight
df.show(20, False)

+------------------------------+-------+
|Name                          |Weight |
+------------------------------+-------+
|Road-150 Red, 62              |6803.85|
|HL Mountain Frame - Silver, 46|1288.20|
|HL Mountain Frame - Black, 46 |1288.20|
|HL Mountain Frame - Silver, 48|1270.05|
|HL Mountain Frame - Black, 48 |1270.05|
+------------------------------+-------+