<a href="https://colab.research.google.com/github/gjenkins6245/MCIS6262_fa23_bigdata/blob/main/Homeword3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A car sales attached dataset is to be used. The carSales dataset has 17 columns. First select two columns data, Name and Weight columns. Then sort the dataset from highest to lowest Weight. Only print first 5 rows of data. Use 3 different ways to do that using SPARK. You can use either HDP shell in a box for or Google Colab for coding.

1. RDD data structure
2. DataFrame data structure without any SQL queries
3. DataFrame data structue with SQL queries.

Submit a) Code for above 3 ways b) Screenshot of the above 3 code in which Student Name and ID are there 3) Screenshot of the output result for the above 3 ways.
Please study all the material of Module 6 to do the assignment.

In [101]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [167]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# RDD data structure

import pyspark
from pyspark import SparkContext, SparkConf

sc = SparkContext.getOrCreate()
rdd = sc.textFile("carSalesData.txt")
rdd = rdd.map(lambda x: x.split("\t"))
rdd = rdd.map(lambda x: [x[1], x[7]])
rdd = rdd.filter(lambda x: x[1] != "NULL")
rdd = rdd.sortBy(lambda x: 9999999.99 if x[1]=="Weight" else float(x[1]), False)
rdd.take(6)

[['Name', 'Weight'],
 ['Road-150 Red, 62', '6803.85'],
 ['HL Mountain Frame - Silver, 46', '1288.20'],
 ['HL Mountain Frame - Black, 46', '1288.20'],
 ['HL Mountain Frame - Silver, 48', '1270.05'],
 ['HL Mountain Frame - Black, 48', '1270.05']]

In [169]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# DataFrame data structure without any SQL queries

import pyspark
from pyspark.sql import SparkSession

df_app = SparkSession.builder.appName('DF_App_NoSQL').getOrCreate()

df = df_app.read.csv("carSalesData.txt", sep='\t', header=True).select("Name","Weight")
df = df.filter(df.Weight!="NULL")
df = df.withColumn("Weight", df["Weight"].cast('float'))
df = df.orderBy("Weight",ascending=False)
df.show(5, False)

+------------------------------+-------+
|Name                          |Weight |
+------------------------------+-------+
|Road-150 Red, 62              |6803.85|
|HL Mountain Frame - Silver, 46|1288.2 |
|HL Mountain Frame - Black, 46 |1288.2 |
|HL Mountain Frame - Silver, 48|1270.05|
|HL Mountain Frame - Black, 48 |1270.05|
+------------------------------+-------+
only showing top 5 rows

In [170]:
# Name: Glendon Jenkins
# Student ID: 216004795
# Section: 029
# DataFrame data structue with SQL queries

import pyspark
from pyspark.sql import SparkSession

df_app = SparkSession.builder.appName('DF_App_SQL').getOrCreate()

df = df_app.read.csv("carSalesData.txt", sep='\t', header=True)
df.createOrReplaceTempView("car_sales")
df = df_app.sql("SELECT Name, Weight FROM car_sales WHERE Weight IS NOT NULL ORDER BY CAST(Weight as real) DESC LIMIT 5")
df.show()

+--------------------+-------+
|                Name| Weight|
+--------------------+-------+
|    Road-150 Red, 62|6803.85|
|HL Mountain Frame...|1288.20|
|HL Mountain Frame...|1288.20|
|HL Mountain Frame...|1270.05|
|HL Mountain Frame...|1270.05|
+--------------------+-------+